@font-face {
    font-family: 'Gilroy';
    src:  url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyMedium';
    src:  url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
