@import '_vars.css';

html,
body {
    height: 100%;
    font-family: Gilroy, sans-serif;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    padding: 13px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    cursor: pointer;
    background-color: var(--btn-bg);
    color: var(--hover-font-color);
}
