.streams__housecards {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.houscards__item {
    max-width: 369px;
    padding: 10px;
    border-radius: 8px;
    filter: drop-shadow(0px 8px 30px rgba(34, 34, 34, 0.07));
    background-color: var(--main-bg);
}

.houscards__item:not(:last-child) {
    margin-right: 20px;
}

.houscards__item img {
    border-radius: 8px;
    margin-bottom: 24px;
}

.houscard__info-wrapper {
    padding: 0 15px 0 15px
}

.houscard__locations {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.houscard__locations svg {
    margin-right: 8px;
}

.houscard__locations span {
    font-size: 12px;
    line-height: 14px;
    color: var(--second-font-color)
}

.housecard__title {
    margin-bottom: 16px;
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--second-font-color);
}

.housecard__info {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 22px;
    color: var(--third-font-color)
}

.houscard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.houscard__footer-price {
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--btn-bg);
}

.houscard__footer {
    font-size: 14px;
    line-height: 16px;
}

@media only screen and (max-width: 740px) {
    .streams__housecards {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .houscards__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}