:root {
    --main-font-color: #000000;
    --second-font-color: #222222;
    --third-font-color: #717171;
    --hover-font-color: #FFFFFF;

    --btn-bg: #234DD4;

    --main-bg: #FFFFFF;
    --second-bg: #F4F4F4;
}