@import "_font.css";
@import "_vars.css";
@import "_global.css";
@import "_reset.css";
@import "_header.css";
@import "_article-main.css";
@import "_footer.css";

.footer-wrapper {
    background-color: var(--second-bg);
}