@import "_font.css";
@import "_vars.css";
@import "_global.css";
@import "_reset.css";
@import "_header.css";


.main {
    display: flex;
    justify-content: space-between;
}

.main__content {
    min-width: 50%;
    padding: 8px;
    height: 800px;
}
.main__map {
    width: 100%;
    height: 100vh;
}

.content__filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 22px;
    margin-bottom: 18px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 17px;
    cursor: pointer;
    border-radius: 8px;
    color: var(--third-font-color);
    background: var(--second-bg);
}

.filter__button span {
    margin-right: 40px;
}

.filter__button .filter__button-long {
    margin-right: 99px;
}

.filter__input {
    position: relative;
    margin-bottom: 18px;
    margin-right: 18px;
    cursor: pointer;
}

.filter__input svg {
    position: absolute;
    top: 18px;
    right: 20px;
}

.filter__input input {
    padding: 19px 48px 19px 22px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--second-bg);
}

.content__cards {
    margin-bottom: 27px;
    width: 97%;
    height: 72%;
    overflow-y: auto;
}

.cards__item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.cards__item:not(:last-child) {
    margin-bottom: 30px;
}

.cards__item img {
    margin-right: 20px;
    max-width: 300px;
    min-height: 220px;
    border-radius: 8px;
}

.cards__item-info {
    display: flex;
    justify-content: space-between;
}

.info__left {
    margin-right: 10px;
    margin-top: 14px;
}

.info__left-location {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    color: var(--second-font-color);
}

.info__left-location svg {
    margin-right: 6px;
}

.info__left-title {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 21px;
    color: var(--second-font-color);
}

.info__left-description {
    font-size: 15px;
    line-height: 21px;
    color: var(--third-font-color);
}

.info__right {
    min-width: 118px;
    min-height: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info__right-price {
    padding-top: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--btn-bg);
}



.content__footer {
    text-align: center;
    padding-bottom: 50px;
}

.content__footer p {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: var(--third-font-color);
}

.content__footer a {
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: var(--btn-bg);
    border-bottom: 1px solid var(--btn-bg);
}

@media only screen and (max-width: 1280px) {
    .main {
        flex-direction: column;
    }

    .content__cards {
        width: 100%;
    }

    .main__map {
        margin-top: 50px;
        height: 50vh;
    }
}

@media only screen and (max-width: 670px) {
    .main__content {
        width: 100%;
        height: 100%;
    }

    .cards__item img {
        margin-bottom: 24px;
        object-fit: cover;
        min-width: 100%;
        height: auto;
    }
    .content__cards {
        height: 100%;
    }
    .cards__item {
        flex-direction: column;
    }

    .info__right-price {
        padding-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .cards__item-info {
        flex-direction: column;
    }

    .info__left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .info__right {
        min-width: auto;
        min-height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .info__right-price {
        padding-top: 0;
    }

    .info__right-price {
        width: fit-content;
    }

    .cards__item img {
        margin-right: 0;
        max-width: 100%;
        min-height: auto;
    }
}