@import "_font.css";
@import "_vars.css";
@import "_global.css";
@import "_reset.css";

.header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.header__button {
    display: flex;
    align-items: center;
}

.header__mobile {
    display: none;
}

.header__mobile button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.header__mobile button:not(:last-child) {
    margin-right: 19px;
}

.header__button .header__icon {
    margin-right: 7px;
}

.promo {
    padding: 240px 16px 325px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/homepage/promoBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.promo__title {
    font-family: GilroyMedium, sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.promo__subtitle {
    font-family: GilroyMedium, sans-serif;
    text-align: center;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.promo__form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 770px;
}

.form__what-search-wrapper,
.form__where-search-wrapper {
    position: relative;
}

.what-search,
.where-search {
    border: none;
    outline: none;
}

.what-search {
    padding: 25px 10px 25px 90px;
    border-radius: 8px 0 0 8px;
    width: 437px;
}

.where-search {
    padding: 25px 66px 25px 90px;
    border-radius: 0 8px 8px 0;
}

.search__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 15px 15px 13px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--btn-bg);
}

.search-bar__where {
    position: absolute;
    top: 24px;
    left: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px
}

.search-bar__what {
    position: absolute;
    top: 24px;
    left: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px
}

.search-bar__border {
    position: absolute;
    right: -3px;
    top: 8px;
    border-left: 1px solid rgba(0, 0, 0, .3);
    height: 50px;
}

/*FETURED LOCATIONS*/
.featured-locations {
    padding: 89px 0 99px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
}

.featured-locations__title,
.block-title{
    margin-bottom: 17px;
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--second-font-color);
}

.featured-locations__subtitle,
.block-subtitle{
    margin-bottom: 64px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--third-font-color);
}

.featured-locations__carousel {
    position: relative;
    width: 1160px;
}

.carousel__gallery {
    width: 1160px;
    overflow: hidden;
}

.carousel__images {
    width: 9999px;
    transition: margin-left 250ms ease-in;
}

.carousel__item {
    position: relative;
    display: inline-block;
    width: 269px;
    height: 366px;
}

.carousel__item img {
    width: 269px;
}

.carousel__item-info {
    position: absolute;
    bottom: 33px;
    width: 269px;
    color: var(--hover-font-color);
}

.carousel__item-info .info__title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.carousel__item-info .info__subtitle {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
}

.carousel__item:not(:last-child) {
    margin-right: 18px;
}

.carousel__item img {
    border-radius: 8px;
    filter: brightness(70%);
}

.arrow {
    position: absolute;
    top: 160px;
    padding: 17px 17px;
    border: 1px solid #EAEAEA;
    background: var(--main-bg);
    box-shadow: 0px 8px 30px rgba(34, 34, 34, 0.07);
    border-radius: 50%;
    cursor: pointer;
}

.prev {
    right: -60px;
}

.next {
    left: -70px;
}

/*STREAMS*/
.streams {
    background: var(--second-bg);
    padding: 91px 20px 120px 20px;
}

.streams__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.streams__buttons-item {
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    color: #717171;
    padding: 7px 20px;
}

.streams__buttons-item:not(:last-child) {
    margin-right: 10px;
}

.streams__buttons-item.active,
.streams__buttons-item:hover {
    padding: 7px 20px;
    background-color: #ffffff;
    border-radius: 60px;
    color: #234DD4;
}

.streams__housecards {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.houscards__item {
    max-width: 369px;
    padding: 10px;
    border-radius: 8px;
    filter: drop-shadow(0px 8px 30px rgba(34, 34, 34, 0.07));
    background-color: var(--main-bg);
}

.houscards__item:not(:last-child) {
    margin-right: 20px;
}

.houscards__item img {
    border-radius: 8px;
    margin-bottom: 24px;
}

.houscard__locations {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.houscard__locations svg {
    margin-right: 8px;
}

.houscard__locations span {
    font-size: 12px;
    line-height: 14px;
    color: var(--second-font-color)
}

.housecard__title {
    margin-bottom: 16px;
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--second-font-color);
}

.housecard__info {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 22px;
    color: var(--third-font-color)
}

.houscard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.houscard__footer-price {
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--btn-bg);
}

.houscard__footer {
    font-size: 14px;
    line-height: 16px;
}

@media only screen and (max-width: 1283px) {
    .carousel {
        width: 870px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 996px) {
    .carousel {
        width: 561px;
    }
}

@media only screen and (max-width: 770px) {
    .what-search {
        width: 411px;
        padding-right: 28px;;
    }

    .where-search {
        padding-left: 75px;
    }
}

@media only screen and (max-width: 740px) {
    .promo__form {
        flex-wrap: wrap;
    }

    .what-search {
        width: 90vw;
        margin-bottom: 20px;
        padding-top: 21px;
        padding-bottom: 21px;
        border-radius: 100px;
    }

    .search-bar__what,
    .search-bar__where {
        top: 20px;
    }

    .search-bar__border {
        display: none;
    }

    .where-search {
        width: 90vw;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 90px;
        border-radius: 100px;

    }

    .search__btn {
        top: 4px;
        right: 5px;
        border-radius: 60px;
    }

    .streams__housecards  {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .houscards__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 681px) {
    .carousel {
        max-width: 287px;
    }
}

@media only screen and (max-width: 500px) {
    .promo {
        padding: 191px 16px 300px 16px;
    }

    .promo__title {
        margin-bottom: 71px;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
    }

    .promo__subtitle {
        margin-bottom: 46px;
        max-width: 308px;
        font-size: 16px;
        line-height: 19px;
    }

    .header {
        background-color: var(--main-bg);
        padding: 20px 15px;
    }

    .header__button {
        display: none;
    }

    .header__mobile {
        display: flex;
        align-items: center;
    }

    .block-title {
        font-size: 22px;
        line-height: 26px;
    }

    .featured-locations__subtitle,
    .block-subtitle{
        margin-bottom: 30px;
    }

    .carousel {
        margin: 0 auto;
        text-align: center;
        max-width: 90vw;
    }

    .arrow {
        display: none;
    }

    .carousel__images {
        width: 100%;
    }

    .carousel__item:not(:last-child) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 415px) {


}